@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    --slate-100: oklch(0.929 0.013 255.508);
    --slate-500: oklch(0.446 0.043 257.281);
    --font-felipa: "Felipa", serif;
    --font-didact: "Didact Gothic", sans-serif;
    --fw-400: 400;
}

body {
    background: url('../assets/images/mio-ito-B_SLtmXPKNA-unsplash.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center center;
}

.container {
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

h2 {
    font-family: var(--font-felipa);
    font-weight: var(--fw-400);
    font-style: normal;
    text-align: center;
    color: var(--slate-500);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1.3rem 0;
}

h1, h3 {
    text-align: center;
    font-family: var(--font-didact);
    font-size: 24px;
    margin: .75rem 0;
}

.output p {
    background: rgba(255, 255, 255, 0.07);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    color: var(--slate-500);
    font-size: 16px;
    text-align: left;
    font-family: var(--font-didact);
}

.download {
    margin: 1.3rem 0;
    padding: 10px;

    overflow: hidden;

    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-didact);
    border-radius: 8px;
    
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--slate-500);

    display: block;
    width: 96%;

    span {
        z-index: 9999;
        position: relative;
        color: var(--slate-500);
    }

    &::before {
        content: '';
        background-color: transparent;
        top: 0;
        position: absolute;
        bottom: 0;
        border-radius: 8px;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #14b8a6, #06b6d4);
        transition: .3s ease-out;
    }

    &:hover::before {
        width: 0%;
    }

    &:hover {
        box-shadow: 0 0 0 5px #38bdf8;
    }
}    


@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .output p {
        font-size: 13px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}